#Marker	Type	5'Flank	3'Flank	Motif	Period	Offset
Amelogenin	AUTOSOMAL	CCCTGGGCTCTGTAAAGAA	CAGCTTCCCAGT	TCAAGT	6	63
CSF1PO	AUTOSOMAL	CTGTTCTAAGTA	CTATCTATGAAGGCAGTTAC	ATCTATCTATCT	4	20
D10S1248	AUTOSOMAL	GTCACAAACATATTAATGAA	GTTCCTTTAATA	GGAAGGAAGGAA	4	41
D12S391	AUTOSOMAL	CTGTATTAGTAAGGCTTCTC	GCTGGAGACC	GTCTGTCTGTCT	4	112
D13S317	AUTOSOMAL	GACTCTCTGGAC	CTGCCTATGGCTCAACCCAA	TATCTATC	4	78
D16S539	AUTOSOMAL	AAAGGCAGATCCCAAGCTCT	ATGCTTACAGAT	GATAGATA	4	74
D17S1301	AUTOSOMAL	ATGCATGTGTTTATTTATAC	GTTATACACATT	AGATAGAT	4	25
D18S51	AUTOSOMAL	GAGTGACAAATTGAGACCTT	CATCTCCACACA	AGAAAGAAAGAA	4	63
D19S433	AUTOSOMAL	TTTGGTGCACCCATTACCCG	TTTTGCAGCCTC	AAGGAAGGAAGG	4	92
D1S1656	AUTOSOMAL	TCCTGTGTTAGTCAGGATTC	CATCACACAGT	TCTATCTATCTA	4	61
D20S482	AUTOSOMAL	CGTGTACTAGAGTTCTTCAG	CATGTGGTTATG	AGATAGAT	4	42
D21S11	AUTOSOMAL	GGACTTTTCTCAGTCTCCAT	CCAGTCTATCTA	CAGACAGACAGA	4	57
D22S1045	AUTOSOMAL	CTTAAACCTGAT	CATACATTCGCGTGATCACT	ATTATTATT	3	126
D2S1338	AUTOSOMAL	AGTAAGTTAAAGGATTGCAG	CTGTTTCCAAAT	GGAAGGAAGGAA	4	17
D2S441	AUTOSOMAL	AGGGCTACAGGAATCATGAG	GCTCCAATTTAA	TCTATCTATCTA	4	52
D3S1358	AUTOSOMAL	TGGTGTGTATTCCCTGTGCC	TGTCACCCAGAT	ATCTATCTATCT	4	66
D4S2408	AUTOSOMAL	TTCAATAGAAAG	CTATTTTTCAGTCATTTCAG	AGATAGAT	4	14
D5S818	AUTOSOMAL	TATCTGTATCCT	ATTACGTAAGGATACCAAAG	AGATAGATAGAT	4	20
D6S1043	AUTOSOMAL	TCTCCAGCTTAC	CACCCATCCTTGCACACTAT	ATCTATCT	4	85
D7S820	AUTOSOMAL	ATTAAATGTTTACTATAGAC	GACAAGTGTTCT	GATAGATA	4	55
D8S1179	AUTOSOMAL	ATTTCATGTGTACATTCGTA	CACAGTGAAAAT	TAGATAGATAGA	4	5
D9S1122	AUTOSOMAL	GGGGGTATTTCA	AGGTAAACTAGAAGCTTTCA	TCTATCTA	4	24
DXS10074	X	CTACTGCCCCACCTTTATTG	TCTGAGGGGCAC	AAGAAAGAAAGA	4	109
DXS10103	X	CACATGCATACA	TTCATTCCCCTGGTTCTGTT	TCTATCTA	4	26
DXS10135	X	AAATGGGGCTAC	CACATTGGTTCA	GAAAGAAAGAAA	4	56
DXS7132	X	TAGTCAACGTTC	ACTGTATGTGAGCTAGAGAA	TAGATAGATAGA	4	100
DXS7423	X	CAGCTAGCTTAG	TGATAAAGGGCAGGTTGGGA	TGGATGGATGGA	4	85
DXS8378	X	GGTGGAGGTTGC	GGTCAAACCTCCTGTGTTGA	ATAGATAGATAG	4	152
DYF387S1	Y	TAACAAGAAAAAAAGAAGAA	AAAATAAAAAAAACTG	GAAGGAAGG	4	14
DYS19	Y	ACAAGGACTCAGGAATTTGC	AAACACTATATATATATAAC	TAGATAGATAGA	4	117
DYS385	Y	ACATAGTCCTCC	GTTGTTGTTTGGCATGGTGT	TTTCTTTCTTTC	4	154
DYS389I	Y	TAGAGGGAGGGA	GAGAGTTGGATACAGAAGTA	TAGATAGATAGA	4	18
DYS389II	Y	TAGAGGGAGGGA	GAGAGTTGGATACAGAAGTA,2	TAGATAGATAGA	4	70
DYS390	Y	ATAGAAATTTTATGAGTGGG	AGAATATATTATG	TCTGTCTGTCTG	4	76
DYS391	Y	ATTCATTCAATCATACACCC	GGCAATTGCTTG	TCTATCTATCTA	4	48
DYS392	Y	AAGTCAAAACAGAGGGATCA	AATATGGATGAA	TATTATTAT	3	133
DYS437	Y	GGACTATGGGCGTGAGTGC	TTCCTCAGGCTG	TCTATCTATCTA	4	117
DYS438	Y	TTAGTGGGGAATAGTTGAAC	GAAATGCAATGG	TTTTCTTTTCTTTTC	5	49
DYS439	Y	ATTAATAGATTC	GGGTAAAAGAATTCCAAGCC	TATCTATCTATC	4	84
DYS448	Y	GAGATCGCGAGACAGAAAGG	GGTAAAGATAGAG	AGAGATAGAGATAGAGAT	6	66
DYS460	Y	CCTATCTTCTATCTACC	TTTCCTAGATAATTCTTCTT	CTATCTATCTAT	4	138
DYS461	Y	TGTTTCTCTCTTA	TTTGTCTATTAT	CTATCTATCTAT	4	92
DYS481	Y	GGAGTCTGCTAAAAGGAATG	GTCTTGCAACCT	CTTCTTCTTCTT	3	30
DYS505	Y	TCTGGCGAAGTAACCCAAAC	CCTTCTGGTGAA	TCCTTCCTTCCT	4	85
DYS522	Y	CATAGTAGGAAT	CGGCTCTCACTGGTTCC	TATCTATCTATC	4	165
DYS533	Y	TTATGTCTCTTC	GGTTGAGTTAAGAACTGATC	AGATAGATAGAT	4	85
DYS549	Y	GGTAATCTGAAA	CTTATGCCACCAAAAAAAAC	TATCTATCTATC	4	110
DYS570	Y	AATGATGACTAG	GAATATCTGCATTTCAGCTT	GAAAGAAAGAAA	4	46
DYS576	Y	CATCTCTGAATA	CCTTCATCTCCAGGAAATGA	CTTTCTTTCTTT	4	39
DYS612	Y	AATAAAATTACAGCATGAAG	GCCTTCCCTCAG	TCTTCTTCTTCT	3	49
DYS635	Y	GCCCAAATATCC	AGAGAGCATTCCATTGGGCA	TAGATAGATAGA	4	55
DYS643	Y	TCATTGAACCTCATGCTCTG	TTTACTTCAGTA	CTTTTCTTTTCTTTT	5	67
FGA	AUTOSOMAL	GAGTGATTTGTCTGTAATTG	CTAGCTTGTAAA	AAAGAAAG	4	23
HPRTB	X	ACACTAGTTTAC	ATTGAATCGAGACCATAGAC	TAGATAGA	4	108
PentaD	AUTOSOMAL	GCATGGTGAGGCTGAAGTAG	GGGGAAAAAAAGAGAAT	TCTTT	5	114
PentaE	AUTOSOMAL	CTTATTTGGGTTATTAATTG	GGGTTCAAGTGA	TCTTTTCTTT	5	94
TH01	AUTOSOMAL	AGGGCTTCCGAG	GAGGAACAGGCCAATGGGAA	ATGAATGA	4	44
TPOX	AUTOSOMAL	CTTAGGGAACCCTCAC	GCAAATAAACGC	AATGAATG	4	7
vWA	AUTOSOMAL	GGACAGATGATA	CCAAGTCACATACTGATTAT	TAGATAGACAGA	4	32
Y-GATA-H4	Y	TAAATCACCTATCTATGTAT	TAAATTTGGAAA	TCTATCTATCTA	4	76
mh16-MCR1B	AUTOSOMAL	CTGACGGG	TGCTGGAGGCYGGT	TCCTC	1	169
mh16-MCR1C	AUTOSOMAL	TCCAGCCTCTGC	TGTCGTCTTCAGCA	CCTGG	1	116
N29insA	AUTOSOMAL	TCTGGGCTCCCT	GTCCATCTCTGA	CAACT	1	72
rs1005533	AUTOSOMAL	CGCCAACCAGGA	TGGGACTAGGGT	GCAAA	1	116
rs10092491	AUTOSOMAL	CAGATAGAGCTA	TCCTTTTGAAAC	AAACT	1	65
rs1015250	AUTOSOMAL	TCCCTTAGGGTA	TAAGCATTTAAA	AAAGG	1	68
rs1024116	AUTOSOMAL	TACTTCTGGCGG	AGCAATCCTTTT	TGGGA	1	49
rs1028528	AUTOSOMAL	AAAAGAAAGGTC	CTGGCTCTAACC	CTTAC	1	36
rs1031825	AUTOSOMAL	TCCCACATTATG	TTCATTGTTATA	GTCCT	1	77
rs1042602	AUTOSOMAL	CAATGGATGCAC	CATAGACTCTTC	TGCTT	1	68
rs10488710	AUTOSOMAL	TATGTCAGCATT	ACCTCTATTACT	TAAAA	1	64
rs10495407	AUTOSOMAL	AGGTCTACCCTC	TGTTGTTTTTCC	TCTGC	1	67
rs10497191	AUTOSOMAL	CAGTTATCCTGC	ACAATTTCAACT	ACTGA	1	60
rs1058083	AUTOSOMAL	ACTTGGGTTAAT	CTGCGGGTGAAA	TTTGC	1	32
rs10773760	AUTOSOMAL	GTAGACTGCAAG	AAGTATGCCACA	TGTTA	1	56
rs10776839	AUTOSOMAL	GTTCCCAGCTTG	GCTAGATACGAC	CAGCT	1	63
rs1079597	AUTOSOMAL	ACATGATCCTAA	GGAATCCAGGTA	GGGCA	1	119
rs1109037	AUTOSOMAL	CTGCCTCCCACA	ACAGGTGCTTGG	AGTTT	1	78
rs11652805	AUTOSOMAL	GTTTGGTGCATC	CCCAACTATACT	CTCTT	1	79
rs12047255	AUTOSOMAL	ATTTCTAGCTGA	CAGTAAAACA	TGTTA	1	7
rs12203592	AUTOSOMAL	CAGCTTTGTTTC	ATATGACGAAGC	ATCCA	1	63
rs1229984	AUTOSOMAL	ACTAACCACGTG	TTGTAACTAGAT	GTCAT	1	71
rs12439433	AUTOSOMAL	ACATTAGAGTGA	AAATGCCTTCCT	AATAC	1	50
rs12498138	AUTOSOMAL	TTTGCGAGAAAC	AGCACAAATATG	AGATA	1	69
rs12821256	AUTOSOMAL	AGTTGAAAATTA	GACTAAGTTGGA	ATTAA	1	74
rs12896399	AUTOSOMAL	TTAGGTCAGTAT	CAGCAGATTAAC	ATTTT	1	20
rs12913832	AUTOSOMAL	AGGTACAGGAAC	CAAGTTCTGCAC	AAAGA	1	73
rs1294331	AUTOSOMAL	CATAAAACATTC	CAATCACAATTA	CAAAA	1	31
rs12997453	AUTOSOMAL	TTTGTCAGAATG	TCTTGCACATCA	ATGCT	1	55
rs13182883	AUTOSOMAL	GTCTCTCTTTTG	TGGTAGGGCACA	TGAGG	1	126
rs13218440	AUTOSOMAL	TCACCTCTAGTC	GTACGTAGCACA	CCTCT	1	124
rs1335873	AUTOSOMAL	CGTGTGATGCTC	GCCCTTGAGAAA	GTACC	1	64
rs1336071	AUTOSOMAL	ATAATATCCTTT	CAAATTCATTCT	CTGTT	1	59
rs1355366	AUTOSOMAL	TTAAGTATCACC	ATTCTCACCACA	ATCCA	1	76
rs1357617	AUTOSOMAL	TCAACAAGATGA	TCAGCTTGGGAA	GAATT	1	69
rs1360288	AUTOSOMAL	GTGTGTGGCTTT	CTCCAGACCTGA	AGAGG	1	79
rs1382387	AUTOSOMAL	TAATAAGACGCT	GTGCCGTTTCGT	GCATC	1	46
rs1393350	AUTOSOMAL	ATCCCCCTGATG	TGTGGTCTTTTA	CGTGC	1	56
rs1413212	AUTOSOMAL	TGTTCATATAAG	ACTGTCAGTGTT	TGAAA	1	21
rs1426654	AUTOSOMAL	CTCAGGATGTTG	GTTACTGCTTTC	CAGGC	1	44
rs1454361	AUTOSOMAL	AGTTGGGCAGCT	CAGTAGGGGTCG	GTCCA	1	75
rs1462906	AUTOSOMAL	CAAATTCTGGGA	CGAAACTAAAAG	TGTTT	1	34
rs1463729	AUTOSOMAL	CGTGTGTTTCAC	CCAGAATAAGGG	ATGTG	1	58
rs1490413	AUTOSOMAL	GTTTCTGACAGC	CCTCAGAGCAGG	TCAGA	1	55
rs1493232	AUTOSOMAL	AGCTATTCTCTC	GGCCTCACAATA	TTTTG	1	28
rs1498553	AUTOSOMAL	GGATGAAAGTTC	AAGGGAAGAAAT	ACTTC	1	64
rs1523537	AUTOSOMAL	AGAAGCTTAGGG	GGCTATTAGGTG	TCTTA	1	70
rs1528460	AUTOSOMAL	TCAATATTTAGC	ATACTTGCTCAT	CTTAA	1	65
rs1572018	AUTOSOMAL	AAACTTTATTCA	CACATGCATATT	TTGGT	1	72
rs159606	AUTOSOMAL	GTTAGATTGACT	CAATGTTATAAT	GTTTC	1	54
rs16891982	AUTOSOMAL	ATCCTTAGGAGA	CAACCTCGACTC	GAGAA	1	61
rs1736442	AUTOSOMAL	TGGGATTGAGAG	TTAGAAAGTCTT	CGCTT	1	103
rs174570	AUTOSOMAL	AGGCAGAAAGGA	TAGGCCCGACCC	GGGAT	1	80
rs17642714	AUTOSOMAL	CACAGATTGCCC	AAAATATTGAGA	TGAGG	1	76
rs1800407	AUTOSOMAL	AGAAGGCAGAGA	CTGGCCACAC	GGACG	1	69
rs1800414	AUTOSOMAL	AACAAATCCCAA	ATTTACTCTGCA	CACTG	1	68
rs1805009	AUTOSOMAL	CTTCAAGAACTT	TATTGTGTGGTC	CCTCT	1	162
rs1821380	AUTOSOMAL	ATGGAACCTCTG	TGTGCCCGCAAT	CTGTC	1	76
rs1834619	AUTOSOMAL	CTGTTCAAAACA	TGAATGTTAAAG	GAAAG	1	29
rs1871534	AUTOSOMAL	GCAGGACAGCGT	GAAGGTCTGCAG	CCCCA	1	31
rs1876482	AUTOSOMAL	AAATGCCATGGG	CTCACTATGCTC	CCCTC	1	76
rs1886510	AUTOSOMAL	ATCACTGCCTTA	TCTGGTAGAAAG	TGACG	1	70
rs1919550	AUTOSOMAL	GTGGGGTAGTGT	TGTTCTAGATCT	GGAGG	1	73
rs192655	AUTOSOMAL	TTTGCATAGCTC	AGCTTTACATTC	ACGAA	1	23
rs1979255	AUTOSOMAL	AAAATTGAATCA	CATAGGAGAAGA	TAGCT	1	46
rs200354	AUTOSOMAL	TGAAGGGGAAAC	TCCTGGGACAGT	CAAGC	1	122
rs2024566	AUTOSOMAL	CAAAAGAAACCC	ATGAGCTTTCGA	CCCTA	1	48
rs2040411	AUTOSOMAL	TTTTCTTACTCT	GAACTGGTTTTC	AAGTG	1	17
rs2042762	AUTOSOMAL	TCAAAGATGGCG	CAATTTGAGTAG	TAAGA	1	37
rs2046361	AUTOSOMAL	TCAATACTGCCA	TAGACAATAGAT	GATTT	1	70
rs2056277	AUTOSOMAL	TAATGAAAGGCC	GTTCAAGACAGG	AAGCA	1	57
rs2076848	AUTOSOMAL	ACTCTCCTACCG	ACTGGTGAATTT	GGGAC	1	77
rs2107612	AUTOSOMAL	GTTAAAATTGCC	GTTGAATAATGT	ACTAA	1	50
rs2111980	AUTOSOMAL	TCCTATGCAGCA	ATGCTGCCAAGA	AGATC	1	52
rs214955	AUTOSOMAL	CTGTAAAATCTG	AAAAAGCGATAA	TTCTT	1	72
rs2166624	AUTOSOMAL	TTTCAGACATCT	TACATTCTATAG	AATTA	1	22
rs2196051	AUTOSOMAL	TGTTGTAAGCCT	CTAGTGATATTT	GATGG	1	69
rs221956	AUTOSOMAL	ATGATGAATGCT	TGCTTCCTTCAC	TTCCC	1	52
rs2238151	AUTOSOMAL	ATTGCAAAGTAT	CATTGCAGCAAG	TTGGA	1	67
rs2269355	AUTOSOMAL	TGTAGGAAGCTC	CTTAGTAAGCGG	AGTTC	1	23
rs2342747	AUTOSOMAL	GTTGTCAGCATG	CAAGCTATGATT	GGAGG	1	54
rs2378249	AUTOSOMAL	TTCTGGAGAAAG	GCAATGAGATTA	CTAAC	1	69
rs2399332	AUTOSOMAL	ATGTGATATCCC	GGGGTTATTTGT	TGGGT	1	110
rs2402130	AUTOSOMAL	TGAACCATACGG	CGTCATCGAGGT	AGCCC	3	19
rs251934	AUTOSOMAL	ACCAGGCAGCTG	ACTGCCCTCTAA	GTCTG	1	55
rs2593595	AUTOSOMAL	CAGTAGTATTGG	AAAGGGCTCGTG	AAATC	1	57
rs260690	AUTOSOMAL	GCCAACGTAAAA	AATTCAATTTGC	GGGCT	1	68
rs279844	AUTOSOMAL	CAACTTCTGATA	CTAAGAGATAAT	AAGGA	1	117
rs2814778	AUTOSOMAL	GGCCCTCATTAG	CATGGGGAACTG	TCCTT	1	79
rs2830795	AUTOSOMAL	GATACCCATGAG	ATTGCTGATTTG	ACTGG	1	68
rs2831700	AUTOSOMAL	CAGTATCAAAAT	GGCCAAAGACAG	ATTTG	1	34
rs28777	AUTOSOMAL	CTCAGTTGATTT	TATGCGACTCTT	CATGT	1	48
rs2920816	AUTOSOMAL	TGCAATCATACT	TGTACCTGCAGA	TATTT	1	111
rs310644	AUTOSOMAL	AGCATGTGAGAT	GGAATTTTATAG	AGGAT	1	36
rs321198	AUTOSOMAL	TATACATACCAC	GCTTGTTTTAAT	ATACA	1	115
rs338882	AUTOSOMAL	ACCAGCTGTGCT	ACACGAAAGAAG	TGGCG	1	116
rs354439	AUTOSOMAL	TAACAGGATGTT	CCCCTCTTTCAT	TTCTT	1	120
rs3737576	AUTOSOMAL	AGAGCATAGTGA	ACCCAGAGTAGT	GGGGT	1	53
rs3780962	AUTOSOMAL	AAAGAAACATGG	GTTAGTGTTTTT	GATGA	1	42
rs3811801	AUTOSOMAL	CATTCTCTTTTG	GTTCTTGAATTT	CCTTT	1	64
rs3814134	AUTOSOMAL	ATTCTCCCATGG	CGCATCTGTGAA	GGCCC	1	64
rs3823159	AUTOSOMAL	AATCTTGGTTGT	TAAGGATTTCAC	AATGA	1	71
rs3827760	AUTOSOMAL	CCCTCTTCAGGC	ATTCGGCTAGTC	CTCGG	1	68
rs3916235	AUTOSOMAL	CAAAGCAACTCT	AAAGAGGTAAAT	CTTTT	1	67
rs430046	AUTOSOMAL	ATGTTAAGGAAC	AATGGGAGGAGA	AAGGT	1	68
rs4364205	AUTOSOMAL	GTAACCCAGCAA	GAATATGCATAG	TTCCA	1	54
rs4411548	AUTOSOMAL	ATGAGAGCTGTG	CCTTGAGCTCTT	GCAAA	1	115
rs445251	AUTOSOMAL	ATGAACCACTGC	TAGACTATAATT	GGCCT	1	68
rs4471745	AUTOSOMAL	GGAACCCTGATT	GTAACTAACAAA	TTGTT	1	17
rs4530059	AUTOSOMAL	ATGATGACTTCC	CCATTCCTGCAG	CAGAG	1	128
rs459920	AUTOSOMAL	CCTCCCCTCGAG	TGCGATTAGCTC	GGAAT	1	37
rs4606077	AUTOSOMAL	GTAGTTCTAGTG	GATGCAAATCTT	TGGGA	1	108
rs4833103	AUTOSOMAL	ACTGATATATCA	AGCAGAGATTTG	GTACC	1	49
rs4891825	AUTOSOMAL	GTGTAACAATCT	TAGAGATTCCCC	CAATC	1	56
rs4918664	AUTOSOMAL	CCGAGTGTACTC	ACTCTTGCCATG	TGGTG	1	120
rs4959270	AUTOSOMAL	TCCCACCAATCC	CATCCTTTGTGC	CCACC	1	117
rs560681	AUTOSOMAL	TTCAGGTTTCTC	TGCATCCTGACT	TCCAT	1	48
rs576261	AUTOSOMAL	ACCACCTTCTCT	CTTTGCCACTAT	GTCAC	1	29
rs6444724	AUTOSOMAL	AAAGGTTAGGGA	CTCTCATTTACT	TTGGA	1	71
rs671	AUTOSOMAL	ACTGCTATGATG	AACTGTGAGTGT	TGTTT	1	94
rs6754311	AUTOSOMAL	TCTCTCCATACT	TAGCTTCCCAAA	ATTTT	1	54
rs6811238	AUTOSOMAL	TTTGAAATAAGT	GATGTTCTTTCA	CACTG	1	64
rs683	AUTOSOMAL	CTTTCACTTTAT	GGAAGACCCTTT	TACCT	1	62
rs6955448	AUTOSOMAL	AAAGGCATGAAT	CGCAACTAGTTA	TAAGT	1	73
rs6990312	AUTOSOMAL	CTCCACCCATCC	TACAGGTCTC	CCCCA	1	26
rs7041158	AUTOSOMAL	AACTGAGGATTT	CAATGTTATTCT	TCAAT	1	72
rs717302	AUTOSOMAL	AAGGATATGGCA	CCCCAACATATG	AATAA	1	64
rs719366	AUTOSOMAL	AGGACTTATAGT	TCATTCCATAAA	GAGTA	1	120
rs722098	AUTOSOMAL	GTTGACAGTAAT	TACCCAACAAAA	GAAAT	1	49
rs722290	AUTOSOMAL	TTGGATACCATC	TTCTGGTCCTAC	CCCAA	1	56
rs7226659	AUTOSOMAL	TTACTCAATCTG	TGATGAAGAAGA	AACAA	1	97
rs7251928	AUTOSOMAL	AATTCCCATCTG	CTCTCTTCCAG	CAATG	1	78
rs727811	AUTOSOMAL	TCATGCCCACAG	AAGTTCCGGTAA	CAAAA	1	65
rs729172	AUTOSOMAL	ATTTCCCTCTTG	TAATGAGGCT	CGGTT	1	41
rs7326934	AUTOSOMAL	ATTTCAAGCATC	ATATAATCCTCA	CTGAT	1	54
rs733164	AUTOSOMAL	GCAAAGTACACC	GCCTTGCCAAAG	GGCTC	1	80
rs735155	AUTOSOMAL	CGGTCTGTGTGA	GACCTTCTTTTT	GTCAC	1	128
rs735480	AUTOSOMAL	TGAGGTAAGATG	ATAGAGGGCCAA	AAGGA	1	62
rs737681	AUTOSOMAL	CCAGTAGTCCTG	TGTGCCGAAGCC	GGAGC	1	80
rs740598	AUTOSOMAL	TTCGTAAGTATT	AAAGCTGCCGGT	TCAAA	1	72
rs740910	AUTOSOMAL	TAGCATATTGTT	ATAAAGCCAAAA	TAACA	1	64
rs755095	AUTOSOMAL	CAGTGCAAAA	TGACTGGTC	AGG	1	4
rs7554936	AUTOSOMAL	CTACAGATATAC	TCACCTATGACT	TTACC	1	59
rs763869	AUTOSOMAL	CTACTCCCTCAT	AACATCCTCATA	AATGT	1	35
rs7657799	AUTOSOMAL	CTACCTTGCAGG	GAGGGTAAGAAA	TAATG	1	76
rs7722456	AUTOSOMAL	AGCATCTTACAC	ATTGTGAGCAGG	CACCA	1	73
rs798443	AUTOSOMAL	ATTGCTAACATC	TTAGCATAATAA	TCCAG	1	37
rs7997709	AUTOSOMAL	GGATTGCTCAAC	GGAAACACAGTT	AAATA	1	33
rs8037429	AUTOSOMAL	GTAATAATGTAA	CGCAAGAGTTAT	GAGTT	1	11
rs8078417	AUTOSOMAL	ACGTGGTCACCA	ACGTGGCTCAGA	GCCTG	1	102
rs826472	AUTOSOMAL	AGTTGTTAGGTG	AGCAGATTAATT	TAGCA	1	102
rs870347	AUTOSOMAL	CATGCGACATCC	TAGTCTCTTAAT	AGGTA	1	70
rs873196	AUTOSOMAL	AATCCCAAGTGC	AGAGAGAAAACT	TGCCC	1	71
rs876724	AUTOSOMAL	CACTGAAGTATA	GACTCCTAACTT	ATTTT	1	67
rs891700	AUTOSOMAL	TTTTGAAGCCT	GAGTGTCATA	TTGCA	1	17
rs901398	AUTOSOMAL	ATGTCAGTCTGG	TTCTTGCCTAGT	GTGCA	1	45
rs907100	AUTOSOMAL	GGAGGCAATTCA	GAATCACACAAT	TGATG	1	66
rs914165	AUTOSOMAL	ACGACGAGAATA	ACCCTCAGGC	CAAGC	1	44
rs917115	AUTOSOMAL	AAAAATGGAACT	AGAAAGGAAGAA	TTCAA	1	22
rs917118	AUTOSOMAL	CAACAGAGTCCT	TGGTTGGTCTTG	CCATG	1	68
rs938283	AUTOSOMAL	CCTCTCAAAATT	AGGACCCTTACC	CATAC	1	53
rs9522149	AUTOSOMAL	GGAGAGGAAACA	GTCCTCGGGTTG	GGGAG	1	78
rs964681	AUTOSOMAL	GTGAGGAACGTC	TCCATAACAATT	GGGCA	1	57
rs987640	AUTOSOMAL	AACTTGTTCATT	CATGGGCTTAGT	GGTAC	1	75
rs9905977	AUTOSOMAL	AAATTCATGAGC	CTAAGATCATTG	TGGTG	1	119
rs993934	AUTOSOMAL	GACCTATGTAGT	CCTGTAATCATT	TTTGC	1	70
rs9951171	AUTOSOMAL	TCTGTCCTGTAG	CCACAAGTGAAC	GGGAG	1	75
