#Marker	Type	5'Flank	3'Flank	Motif	Period	Offset
Amelogenin	Y	GATTCTT	CAGCTTCC	TCAAGT	6	47
CSF1PO	AUTOSOMAL	CTGTGTCAGACC	AATCTATCTATCTTC	ATCTATCTATCT	4	18
D1S1656	AUTOSOMAL	TAAACACACA	CAGTTGACCCTTGAG	TCTATCTATCTA	4	11
D2S441	AUTOSOMAL	ATGAGCCAG	TTAGCTCCAATT	TCTATCTATCTA	4	45
D2S1338	AUTOSOMAL	AAGGATTGC	AGGCCAAG	GGAAGGAAGGAA	4	5
D3S1358	AUTOSOMAL	AACAGAGGCTTG	AGACAGGGTCTT	ATCTATCTATCT	4	8
D5S818	AUTOSOMAL	TTATCTGTATCC	TCAAAATATTA	ATCTATCTATCT	4	14
D7S820	AUTOSOMAL	TATCAATCTGTC	TTCTAAACTATG	TATCTATC	4	9
D8S1179	AUTOSOMAL	TCATGTGTACAT	TTCCCCACAGTG	TCTATCTATCTA	4	5
D10S1248	AUTOSOMAL	TTAATGAATTGA	AACAAGACAAGG	GGAAGGAAGGAA	4	48
D12S391	AUTOSOMAL	AACAGGATCAAT	GAGAGGGGAT	AGACAGACAGAC	4	12
D13S317	AUTOSOMAL	TTACAAATACAT	TCTTTTTGGGCTG	TATCTATC	4	29
D16S539	AUTOSOMAL	CCCTAGATCAAT	GAAAGACAA	GATAGATA	4	24
D18S51	AUTOSOMAL	TTGTCTC	GAGAGGAAAGAAAGAG	AGAAAGAAAGAA	4	5
D19S433	AUTOSOMAL	TTCTTCCTCT	GAGTGCAGTGGT	CCTTCCTT	4	40
D21S11	AUTOSOMAL	GAATTGCCT	TCCAGTCTATCT	TCTGTCTGTCTG	4	22
D22S1045	AUTOSOMAL	CCGATGATAG	TTATAAAAA	ATTATTATT	3	8
DYS391	Y	AATCATACACCC	ACCTATCCCTCT	TCTATCTATCTA	4	34
FGA	AUTOSOMAL	GCAAAAAAGAAA	GTAAATATGCCT	AAAGAAAG	4	15
TH01	AUTOSOMAL	CGAGTGCAGGTC	GAATCACCCCAG	ATGAATGA	4	53
TPOX	AUTOSOMAL	GCACCCAGAACCGTC	AGCGGGAAGGGA	AATGAATG	4	74
vWA	AUTOSOMAL	ATACATAGGA	AGTCACATACTG	TAGATAGA	4	24
D1S1677	AUTOSOMAL	GTATAGAGCAGT	AATTTCTATTAC	TTCCTTCC	4	36
D2S1776	AUTOSOMAL	CACAGATAAAA	TAGCTCCTCCTG	AGATAGAT	4	53
D3S4529	AUTOSOMAL	AAATGAAGAAA	TATTTATTTTAA	TAGATAGATAGA	4	16
D4S2408	AUTOSOMAL	AAAAATTCAGCAAGT	TACTATTTTTCAG	ATCTATCT	4	55
D5S2800	AUTOSOMAL	AATTTCTGTT	ATGGGGCCCACG	AGACAGACAGAC	4	12
D6S474	AUTOSOMAL	TAGTCAGGGTTTTCC	TTTATG	GATAGATA	4	41
D6S1043	AUTOSOMAL	CCATAATAAATC	TGATCCACCCATC	ATCTATCT	4	17
D12ATA63	AUTOSOMAL	GCAATTTAAAAATG	GAGTACAGTGGT	ATTATTATT	3	34
D14S1434	AUTOSOMAL	TCTACGA	CCTCCTATTG	CTATCTAT	4	11
rs2032678	Y	TCTGAATCAGGC	CAAGAATGAAC	TTCTC	5	13
SRY	Y	TGACGGCCACAA	GGCTCACTTCTG	AGGCA	1	8
PentaD	AUTOSOMAL	CAAGAAAGAAAAA	GGGGAAAAAAAGAGAAT	AAAGAAAAGAAAAGA	5	13
PentaE	AUTOSOMAL	AAACTCCTTA	GAGACTGAGTC	TCTTTTCTTTTCTTT	5	6