#Marker	Type	5'Flank	3'Flank	Motif	Period	Offset
Amelogenin	AUTOSOMAL	TAAACTGGGAAGCTG	CACTATTCTTTACAG	TCAAGT	1	58
D1S1656	AUTOSOMAL	ATCACTAGGGAACCA	ACAGTTGACCCTTGA	TCTATCTATCTA	4	38
D2S441	AUTOSOMAL	AAGGGCTACAGGAAT	TCATAACACCACAGC	TCTATCTATCTA	4	37
D2S1338	AUTOSOMAL	CCCTAGTACCTAGCA	CCAAGCCATTTCTGT	GGAAGGAAGGAA	4	62
TPOX	AUTOSOMAL	GGCACTTAGGGAACC	GCAAATAAACGCTGA	AATGAATG	4	12
D3S1358	AUTOSOMAL	CAGAGGCTTGCATGT	TGCTCTGTCACCCAG	ATCTATCTATCT	4	14
FGA	AUTOSOMAL	TCTGTAATTGCCAGC	GCTTGTAAATATGCC	AAAGAAAG	4	21
D4S2408	AUTOSOMAL	CTTCTACATTTAAGG	TGGTTACTATTTTTC	ATCTATCT	4	30
CSF1PO	AUTOSOMAL	TTCTAAGTACTTCCT	TCTTCATTTTACAGG	ATCTATCTATCT	4	42
D5S818	AUTOSOMAL	CCACAGTTTACAACA	AGGATACCAAAGAGG	ATCTATCTATCT	4	50
D6S1043	AUTOSOMAL	TTCCCATAATAAATC	ATCCACCCATCCTTG	ATCTATCT	4	19
SE33	AUTOSOMAL	TCCCCTACCGCTATA	TCACTCTTGTCGCCC	CTTTCTTTCTTT	4	145
D7S820	AUTOSOMAL	GACAGAATTGCACCA	AACTATGACAAGTGT	TATCTATC	4	79
D8S1179	AUTOSOMAL	TGTATTTTTGTATTT	CCACAGTGAAAATAA	TCTATCTATCTA	4	20
D9S1122	AUTOSOMAL	ATTTCAAGATAACTG	AGGTAAACTAGAAGC	TAGATAGA	4	15
D10S1248	AUTOSOMAL	AATGAATTGAACAAA	GAAGACAATACAACC	GGAAGGAAGGAA	4	11
TH01	AUTOSOMAL	GGGAACACAGACTCC	GAAATAAGGGAGGAA	ATGAATGA	4	9
D12S391	AUTOSOMAL	CAACAGGATCAATGG	GAGAGGGGATTTATT	AGACAGACAGAC	4	10
vWA	AUTOSOMAL	CAGATGATAAATACA	CACATACTGATTATT	TAGATAGA	4	32
D13S317	AUTOSOMAL	GGACTCTGACCCATC	TCTGTCTTTTTGG	TATCTATC	4	53
PentaE	AUTOSOMAL	AGAAAACTCCTTACA	TGAGTCTTGCTCAGT	TCTTTTCTTT	5	9
D16S539	AUTOSOMAL	AATCTAAATGCAGAA	CAGAGATGGATGATA	GATAGATA	4	131
D17S1301	AUTOSOMAL	GCCATGTAAAAATAC	CCATCATAGGAATTT	AGATAGAT	4	29
D18S51	AUTOSOMAL	AAATTGAGACCTTGT	AGCAACTGTTATTGT	AGAAAGAAAGAA	4	42
D19S433	AUTOSOMAL	CTTCTCTCTTTCTTC	CTTATTCTGTTGCCC	CCTTCCTT	4	23
D20S482	AUTOSOMAL	CACCGAACCAATAAG	TTATAGGAATTGATT	AGATAGAT	4	9
D21S11	AUTOSOMAL	AATTCCCCAAGTGAA	ACCTCCTATTAGTCT	TCTGTCTGTCTG	4	40
PentaD	AUTOSOMAL	CACCATCTCAAGAAAG	AAAAATCGTTATGAC	AAAGA	5	62
D22S1045	AUTOSOMAL	GGGGGCTAGATTTTC	AAAAATATTGCCAAT	ATTATTATT	3	23
DYS391	Y	TCCTTATCTCTTGTG	CTCTATGGCAATTGC	TCTATCTATCTA	4	67
