#Marker	Type	5'Flank	3'Flank	Motif	Period	Offset
rs1490413	AUTOSOMAL	GCTGATGTGGGTTCTTTGC	CCTCAGAGCAGGGACACTAG	AACTG	1	2
rs560681	AUTOSOMAL	CAGCAGGAGTTCCCACCAGTTTCTT	CTCCAAGAGTTTGCATCCTGACTGATT	TCTGA	1	53
rs891700	AUTOSOMAL	GCAGTAAAACATTTTCATCAAATTTCCA	GGAGTGTCATAGCTCACACATAGTGACA	TTCTT	1	26
rs1413212	AUTOSOMAL	TCCAGGAGACATTTGTTCATATAAGT	CCATGCTCCACCACTGTCAG	GAA	1	0
rs876724	AUTOSOMAL	TCATGCAGGCTCCATTTTTATACCA	TCACACTCTGCTAACTGCCTGCTC	CTGCA	1	18
rs1109037	AUTOSOMAL	GCCTCCCACACCAGTTTCT	GACTTTCATCTCGCACTGGC	GAGTG	1	2
rs993934	AUTOSOMAL	GCAAAGTATTGTGATAACAGTCTCCAGAGT	GCAAACTGTTTCATCATGGGAAAAATCACC	ATATT	1	25
rs907100	AUTOSOMAL	GGAAAATCTGGAGGCAATTCATGATGC	AGGCTCCAACTGRGCTTCTTTTCTG	CCTGG	1	4
rs1357617	AUTOSOMAL	GCTGATAAGAAACATGACCAAGC	CAAATTCAGCTTGGGAAGTCA	CC	1	0
rs4364205	AUTOSOMAL	ACTTGTAACCCAGCAATTCCAGTCCT	AGCAGCTGTATTCATAGTTGCCCCA	AGATA	1	44
rs1355366	AUTOSOMAL	CTTAGGCCACAACTGGCTTT	CATCCTCGAGGCCTCCA	GGCAA	1	0
rs6444724	AUTOSOMAL	AGGGATTGGAATGGGAGGAAAGGGA	ACTTGCTCTCATTTACTACGGAGTAGGA	AAGGA	1	36
rs2046361	AUTOSOMAL	TCATTGTTGACACTTCACCTTCTA	TTTGAAAATGATCGTTCATAGACAATAGA	TAATT	1	1
rs279844	AUTOSOMAL	AAGGATAACAGATTAAGTTCAGTGTCAA	CTCACAACTCTCTAAACTTCCTTGATAT	TTTTG	1	9
rs6811238	AUTOSOMAL	GTGTGTTTTAAAGCCAGGTTTGTTTAAAG	TTCATAGAAGTACTTCATTTGGCTAGAAGG	GTTAT	1	21
rs1979255	AUTOSOMAL	CATAGCTTGTGTTGGTCAGGGCATG	AAGAACTTTCGTGGAAATTCATTTGACCT	GAACG	1	21
rs717302	AUTOSOMAL	GGATATGGCAAATAAGCTTTAGAAAGGCA	AGCTCCCCCAACATATGAACCTCTT	TATTA	1	30
rs159606	AUTOSOMAL	CTGTGTTAGATTGACTGTTTCTCATCCTGT	TGTTATAATGGGGGCATATCATGGTGC	TATTA	1	33
rs13182883	AUTOSOMAL	GTCCCTTCTGGCCTAGTAGAGGG	AACAGGGTGGGGAGGTGGGACAAA	CCTGG	1	23
rs251934	AUTOSOMAL	GGTCTGGGGCAGATGAAGTAGTAGATA	ACTTAAAAGCCTCACTGCCCTCTAAT	TCTGG	1	6
rs13218440	AUTOSOMAL	GAGATTCACCTCTAGTCCCTCTG	CTCCTGGAATACTCAGCTGGG	GCAGC	1	0
rs1336071	AUTOSOMAL	TCTGTTTTGTCCATCTGAAATTCTAATTTT	TGATGCTTTTTCAAATTCATTCTTCTATCT	TCTTA	1	9
rs214955	AUTOSOMAL	TGCTTGCAAACAAAGACTGAAAAGGTG	TGGCAGGAAAAAGCGATAAAGTTGATGA	GCAAA	1	4
rs727811	AUTOSOMAL	GCTGGGAGATGCAGATGATT	TCGTTGAAGTTCCGGTAAGAG	TAAG	1	0
rs6955448	AUTOSOMAL	GCAAAGCCCTGCCGTTACTACTATT	CGCAACTAGTTAGCCYGGAGAAAAG	GTTGA	1	20
rs917118	AUTOSOMAL	TTAGGGTCGGTTCCAACAGAGTCCT	TGCTCTGGTTGGTCTTGGAACACTC	CCATG	1	53
rs321198	AUTOSOMAL	CCTACACACAGGCTTCAGGTTACCT	AGCAGTGCTTGTTTTAATCAGATTTCACC	GTTTT	1	25
rs763869	AUTOSOMAL	TGGCTACTCCCTCATAATGTAATGCA	AATAATCAAATGTCAACAGAAAGCACTTGA	TTGAG	1	34
rs10092491	AUTOSOMAL	AGAGTGGCATTAGAAATTCCAGATAGAGCT	GGATACTGGTTGGGCCGAAATCCTT	AAAAC	1	36
rs2056277	AUTOSOMAL	TGTTAGGGAGACAGGCATGA	TCAAGACAGGGAAGTATGACGA	ATGAG	1	3
rs4606077	AUTOSOMAL	GCCTGTGGCTTTGTAGTTCTAGTG	CTTCGGGCTTCAGCACAGGG	TCTGAC	1	41
rs1015250	AUTOSOMAL	GTTRGGAAAAGAACCCAGGTG	TGTCCCAGTGATTTTTCATAAGC	TTTTA	1	0
rs7041158	AUTOSOMAL	TGTCATTCTGATGGACTGGAACTGAGG	CCAACCCAAGACACTTCTCACTGGA	ATTTT	1	6
rs1463729	AUTOSOMAL	ATGCTTTTGGGTGGGAATG	TGAGTGTATGCTGCCAAAGC	GCTGC	1	4
rs1360288	AUTOSOMAL	GGAGTAGAGGAGACCTGGGAAG	CTGCATCCCCTCAACAGATG	ACT	1	0
rs10776839	AUTOSOMAL	CCAGCTTGCAGCTGAGGAG	AGATCAGAGCCCCAGTTGC	TTGCC	1	5
rs826472	AUTOSOMAL	ACAATGATGCTGAATTTTGTCTCTGT	AGGATAGCAGATTAATTAGTCTATTGCCT	TATAT	1	14
rs735155	AUTOSOMAL	GTCTGTGTGAGWGTGTCACCGAATTCAA	TTCAGCGCCAGCTCTCCGGTTTT	CGGGA	1	45
rs3780962	AUTOSOMAL	TGAACAAGGTCAAGATATCAGCTTTCACC	AGTGTTTTTCTTCAAAAGCCCGCTACC	AGGAC	1	4
rs740598	AUTOSOMAL	TCGTAAGTATTTCAAATAGCAATGGCTCGT	CTCAGAACTGCTCAAACCCTGGC	CTATG	1	15
rs964681	AUTOSOMAL	AGGTGATTTCTGTGAGGAACGTCGA	CATTTGGGGCCACAGTGCTCAGAC	GG	1	0
rs1498553	AUTOSOMAL	CTTCAGATGTTCAAAGCCAGA	GGATGGCTATGAGATCTATGGA	ATAA	1	1
rs901398	AUTOSOMAL	TGTCAGTCTGGGTGCAAACTAGCTG	ACATTCCAGATGCCCAGCTAAGCTC	AATAT	1	33
rs10488710	AUTOSOMAL	TTATGTCAGCATTTAAAAATAAAACC	GCAGAAAAAGAACAAGTGGG	TGCCA	1	3
rs2076848	AUTOSOMAL	ACCGCTTCAGGTCCATCA	CTGATTTCTGGTGGTGAGGC	GCC	1	0
rs2107612	AUTOSOMAL	AGCATTCTCTTCTGTTAAAATTGCCACT	TTTCTCCAAAACAGTTGAATAATGTACTCA	AATTA	1	24
rs2269355	AUTOSOMAL	CCCCCTTACTGCTGTAGGAAGCTCT	CCCTTAGTAAGCGGGATTCCAGCC	CCCGA	1	10
rs2920816	AUTOSOMAL	ACAGTTTCTGGAGTTATTAATAAATTGGAT	TGATATAATAGTGTACCTGCAGAACTGT	TATAT	1	52
rs2111980	AUTOSOMAL	GGAGCGGAGGCACCAG	ATGCTGCCAAGATGCTTTG	GCTGG	1	5
rs10773760	AUTOSOMAL	GGAAGTTCGTCAAATTGCAG	TCCAAGTATGCCACATAGCA	G	1	0
rs1335873	AUTOSOMAL	CTCTCCCGTACCAGGTACCTAGCTA	GCCAACAATACATACCTGCACCCTG	TGTAC	1	8
rs1886510	AUTOSOMAL	CTTATGACGCCTGGATTTTCACAAC	TTACCCTCTGGTAGAAAGATTGACAAGG	AACAC	1	33
rs1058083	AUTOSOMAL	TGAAACTTGGGTTAATTTTGCTC	GAGTTAGCCACTAGGCTGCG	AGAGT	1	0
rs354439	AUTOSOMAL	TGCAGGTTGCGATAGAAAACAGTGA	AGGGAAAGAGAAGCCACCAGAACAC	ATGA	1	45
rs1454361	AUTOSOMAL	TTTTCAGTATCCATTTAGAAACAACA	CAGCTCAGGGTGTATTTCCC	G	1	0
rs722290	AUTOSOMAL	TGAATTTTGTGTTTAAACTTGGATACCATC	CACTTCTGGTCCTACCTTGGGAC	CCCAA	1	43
rs873196	AUTOSOMAL	CCCTGCATTCAAATCCCAAGTGCTG	CCTGATTGACTCCAACTCCTGCCAG	TTGTA	1	10
rs1821380	AUTOSOMAL	CTGACATTCTCCTTCTTCTATCTGTAT	TTACTGCATTTTTGCACTGC	CC	1	0
rs8037429	AUTOSOMAL	TCATTCACTTTGCTACACCTCCATAGT	AGCGCAAGAGTTATTTCTGTACTTTTCTTT	AATAA	1	9
rs1528460	AUTOSOMAL	TCTTCCTCCTGGAGATCAATATTTAGCCT	AAAGTTTTGTTTAATCCTGCATTTGCC	TAACA	1	22
rs729172	AUTOSOMAL	AACACATTTCCCTCTTGCGGTTACA	TCTGCAGAGGAGCCTTGGTCATATT	TACAT	1	0
rs2342747	AUTOSOMAL	AGGAAGAAAACAGAGAGTCTTGACCGT	GGGACAACAAAGAATGAGCTTCAAGST	GAG	1	0
rs430046	AUTOSOMAL	TGAATGGTGTGATGTAAAMGCTTGG	AGGTGCTGGGTTTAATGGRAGGAGA	GATTT	1	8
rs1382387	AUTOSOMAL	CTGCATCTGCCCACTGC	AAGTTCAGGTGTTTCTCCTTCG	AGGGA	1	0
rs9905977	AUTOSOMAL	CTGGGTGACTCGTGGCTCAGTCA	ATTCCTTTCGTCTTTCCCCTCTGCC	TCAAG	1	0
rs740910	AUTOSOMAL	CAGTTTGCTAAGTAAGGTGAGTGGTATAATCA	AAACAAAATAAAGCCAAAACTCGAACCT	TTTGT	1	7
rs938283	AUTOSOMAL	ACCCCTAGTACGTTAGATGTGACCG	TTTGGAGATAGGACCCTTACCAGGC	TA	1	0
rs8078417	AUTOSOMAL	CTCGTGCCCCCGTGAAGCTTCAG	CTGTCCTTGAGGCTCTTCTCACACT	CTCCC	1	3
rs1493232	AUTOSOMAL	TGCATCTCAAGGAATTAATCACCAAAGC	GGCCTCACAATAAACAGTTTGAGACACA	TATTC	1	27
rs9951171	AUTOSOMAL	ATGCAACATGAGAGAGCAGCACACT	CCACAAGTGAACAGGTCCCAGCAT	GAGGC	1	11
rs1024116	AUTOSOMAL	AAAATATACTACTTCTGGCGGTGGGAAG	GAGCAATCCTTTTTATTAGAACACATGG	TGAGC	1	31
rs719366	AUTOSOMAL	TATAGTGAGTAAAGGACAGGCCCCC	GGGAGGAGGAAAAGCAGGAAAGGAT	AGAGG	1	10
rs576261	AUTOSOMAL	TGTACCACCTTCTCTGTCACCA	CCTCACAACTCTCTCCTTTGC	CCCTG	1	0
rs1031825	AUTOSOMAL	TCCCACATTATGGT	TCATTGTTATATC	CCTTA	1	66
rs445251	AUTOSOMAL	CCACTGCACCYGGCCTACAATTCAA	TGATCAAAACTCCAATGCACATGTAGACT	ATTAA	1	17
rs1005533	AUTOSOMAL	AAGTTTAACATCGCCAACCAGGAGC	CATAAGGAGCTGGAGGACTGGGTG	AAAAA	1	35
rs1523537	AUTOSOMAL	GGTGGGGTTTCAGTCTGCAACAAGA	TCGCTGGCTATTAGGTGATCACAGT	TCTTG	1	6
rs722098	AUTOSOMAL	ACACATCTGTTGACAGTAATGAAATATCCT	TGGATGTGCTGAATATTTCTTTACCCA	TAAGG	1	8
rs2830795	AUTOSOMAL	CCATGAGACTGGGTTCACTTCTATAGACA	TCATCCTGATTCAGAGCCTAGATGAGG	TAGGA	1	50
rs2831700	AUTOSOMAL	GGGACCTATGCTGTGCAGTATCAAAA	AGGGAAATTGTTGGAAGGAGCCAAA	TATTT	1	51
rs221956	AUTOSOMAL	CCAGCTCTCCTCTCCCCTTTCTGAG	ACTTTAGTGCTTCCTTCACAGCTATCTCA	CCCTC	1	4
rs733164	AUTOSOMAL	CACCAACAGGCCATCCCACTTGG	TTGCCTGACATTCCTGAGCCGGG	AAA	1	0
rs987640	AUTOSOMAL	ACAGGTACATTCACTTAACAGGCTCTCT	ACAGACGATGGCATGGGCTTAGTAA	TTCCA	1	26
rs2040411	AUTOSOMAL	GCCAGTTCTTTTGTGTGCTGAGTGT	TCATAGGCGTTCTGAGCACCATTGG	TCTCT	1	37
rs1028528	AUTOSOMAL	GCACAATGCAAAAGAAAGGTCCTTACTCG	CAGATCCGCGGAGGTCTGGCTCTAA	ACATC	1	3