Amelogenin	Autosomal	GATTCTT	CAGCTTCC	TCAAGT	6	47
CSF1PO	Autosomal	AGACCCTGTT	GTTGGAACAC	ATCTATCTATCT	4	125
D10S1248	Autosomal	TGAGCATTAG	ATGAAGACAA	GGAAGGAAGGAA	4	54
D12S391	Autosomal	AAGAATCAAC	TATTAGAGGA	AGACAGACAGAC	4	32
D13S317	Autosomal	GAGAGTTCAT	GACCAACAAT	TATCTATC	4	146
D16S539	Autosomal	GATGCTCGTT	TGAAAGACAA	GATAGATA	4	141
D18S51	Autosomal	CAGAAGGTTA	TAAGACATCT	AGAAAGAAAGAA	4	119
D19S433	Autosomal	TTACATGAAT	GTGGTACAAT	CCTTCCTT	4	122
D1S1656	Autosomal	ATTCTTCAGA	GCAACACAGG	TCTATCTATCTA	4	76
D21S11	Autosomal	ATTCCCCAAG	GTCTCTGGAG	TCTGTCTGTCTG	4	59
D22S1045	Autosomal	CCTGTCCTAG	CCAATCATAC	ATTATTATT	3	66
D2S1338	Autosomal	TCCCTAGTAC	GGATTATGGG	GGAAGGAAGGAA	4	113
D2S441	Autosomal	TGAGCCCTAA	TAACACCACA	TCTATCTATCTA	4	86
D3S1358	Autosomal	CATATTCACT	ACCCAGATTG	ATCTATCTATCT	4	122
D5S818	Autosomal	CACAGTTTAC	GATTATCTGG	ATCTATCTATCT	4	120
D7S820	Autosomal	CCTCATTGAC	CATAGTCAGC	TATCTATC	4	146
D8S1179	Autosomal	TATTTTTGTA	TATACTCATG	TCTATCTATCTA	4	127
FGA	Autosomal	TATTATCACG	CTAGCTTGTA	AAAGAAAG	4	80
PENTAD	Autosomal	AAGCTGAAGT	TGACCATAGG	AAAGA	5	136
PENTAE	Autosomal	ATGCATGATA	TGAGTCTTGC	TCTTTTCTTT	5	111
TH01	Autosomal	GGAACACAGA	TGACTAGGGC	ATGAATGA	4	172
TPOX	Autosomal	CCCATGTTCC	CGCTGACAAG	AATGAATG	4	138
vWA	Autosomal	TAGGATGGAT	GGTGGGAACT	TAGATAGACAGA	4	111
DYS19	Y	AAGGAGTCCA	AAAAACACTATAACA	TCTATCTATCTA	4	79
DYS385	Y	ATAGTCCTCCTTTC	GTTGTTGTTTGGCAT	TTTCTTTCTTTC	4	150
DYS389II	Y	CAGAAGAATG	CACACATAGA	TAGATAGATAGA	4	104
DYS390	Y	TATACTCAGA	GAATGTAATA	CAGACAGACAGA	4	85
DYS391	Y	CATATCTGTC	TTCCCAGGAG	TCTATCTATCTA	4	68
DYS392	Y	CATTCCTTAG	TTGTTTTTAA	ATAATAATA	3	78
DYS393	Y	GTGTCAATAC	CCTCATTTTT	AGATAGATAGAT	4	25
DYS437	Y	GTGAGTGCAT	TCATCTGTGAATGACAG	TCTATCTATCTA	4	86
DYS438	Y	GAACGGTAAA	CTGAAATGCA	TTTTCTTTTCTTTTC	5	41
DYS439	Y	GATAGATGAT	GTAAAAGAAT	GATAGATAGATA	4	33
DYS448	Y	CAGAAAGGGAGATAG	GATAAATTTC	AGAGATAGAGATAGAGAT	6	71
DYS456	Y	TGATAATGTA	GTTTTGGGCT	AGATAGATAGAT	4	50
DYS458	Y	AAACTCCAAT	CTGGATCACA	GAAAGAAAGAAA	4	76
DYS481	Y	AGGAGTCTGC	CAACCTTCTG	CTTCTTCTTCTT	3	47
DYS533	Y	TGTCATCTAC	GATCTCTACT	ATCTATCTATCT	4	165
DYS549	Y	ACATTAAGAT	TACATAAACA	GATAGATAGATA	4	119
DYS570	Y	TTATGAAACG	GTAGATAGGG	TTTCTTTCTTTC	4	56
DYS576	Y	ATCTCTGAAT	TGCCATACTG	AAAGAAAGAAAG	4	63
DYS635	Y	GTGGAACCAG	CTATGCAAAG	TAGATAGATAGA	4	46
DYS643	Y	GGGTCATTGA	AATGGGTGGT	CTTTTCTTTTCTTTT	5	105
Y-GATA-H4	Y	AATCTATCCAT	GTTTAGCTCT	TCTATCTATCTA	4	152
