#Marker	Type	5'Flank	3'Flank	Motif	Period	Offset
DYS19	Y	ACTTCGGGCCATGGC	TTAAAAAACACTATA	TCTATCTATCTA	4	100
DYS385a-b	Y	CACCATGCCAAACAA	GAAAGGAGGACTATG	GAAAGAAAGAAA	4	154
DYF387S1	Y	TCCATTTTACCCCTA	AAAAACTGTGGTAGC	GAAGGAAGG	4	40
DYS389I	Y	AGTAGCAGAAGAATG	CATAGATAATACAGA	TAGATAGATAGA	4	56
DYS389II	Y	AGTAGCAGAAGAATG	CACACACAT	TAGATAGATAGA	4	102
DYS390	Y	ACTCAGAAACAAGGA	TATGGGGTACCAAAA	CAGACAGACAGA	4	29
DYS391	Y	TCCTTATCTCTTGTG	CTCTATGGCAATTGC	TCTATCTATCTA	4	67
DYS392	Y	ATCCCATTCCTTAGT	TTTGTTTTCCTTCTT	ATAATAATA	3	27
DYS393	Y	GTCTTCTACTTGTGT	ATGACTTTATTTAGT	AGATAGATAGAT	4	79
DYS437	Y	GGACTATGGGCGTGA	ATCTGTGAATGACAG	TCTATCTATCTA	4	94
DYS438	Y	TTGAACGGTAAACAG	CTGAAATGCAATGGT	TTTTCTTTTCTTTTC	5	38
DYS439	Y	TTATGGTTTTAGGTC	AAGAGATGATGGGTA	GATAGATAGATA	4	114
DYS448	Y	CGCGAGACAGAAAGG	ATAAATTTCCAGACC	AGAGATAGAGATAGAGAT	6	79
DYS456	Y	GGACCTTGTGATAAT	CATCAGTTTAAGAAG	AGATAGATAGAT	4	39
DYS458	Y	GACTGAGCAACAGGA	GCCAGAACTTTGGGA	GAAAGAAAGAAA	4	63
DYS461	Y	GTAGTGATGCTGTGT	TTTGTCTATTAT	CTATCTATCTAT	4	116
DYS460	Y	CCTATCTTCTATCTACC	GGTGTCAGATTCCTC	CTATCTATCTAT	4	93
DYS481	Y	CTGCTAAAAGGAATG	TGAGTCTTGCAACCT	CTTCTTCTTCTT	3	27
DYS505	Y	GAAGTAACCCAAACG	CCTTCTGGTGAACTG	TCCTTCCTTCCT	4	84
DYS522	Y	AGCACATTTCCATAG	GTCCACCATGAGGTT	GATAGATAGATA	4	156
DYS533	Y	AACATCTTTGTCATC	TCTATTGTTTGGTTG	ATCTATCTATCT	4	115
DYS549	Y	TAGGTAAAGAGGAAG	TCTACATAAACAAAA	GATAGATAGATA	4	28
DYS570	Y	TGTCCTCCAAGTTCC	TAGATAGGGAATATC	TTTCTTTCTTTC	4	7
DYS576	Y	GACCTCATCTCTGAA	CCAAGACAAATACGC	AAAGAAAGAAAG	4	8
DYS627	Y	AAAGAGAGACACAGG	GGAGAGAATGAAAGG	AAAGAAAGAAAG	4	105
DYS635	Y	AATGAATGGATAAAG	TTCTATGCAAAGTGA	TAGATAGATAGA	4	11
DYS643	Y	ATGCCTGGTTAAACT	GGAATGGGTGGTGTT	CTTTTCTTTTCTTTT	5	47
Y-GATA-H4	Y	CAACTTAACAGGATA	TTGGAAATTCTCCTC	TCTATCTATCTA	4	99
Amelogenin	AUTOSOMAL	CTGTAAAGAATAGTG	CAGCTTCCCAGTTTA	TCAAGT	1	58
