Amelogenin	Autosomal	GATTCTT	CAGCTTCC	TCAAGT	6	47
CSF1PO	Autosomal	TCAGACCCTGTT	CTCAGGTTGG	ATCTATCTATCT	4	120
D10S1248	Autosomal	AAACCTGAGCAT	TGAAGACAAT	GGAAGGAAGGAA	4	58
D12S391	Autosomal	GAAAGAATCAAC	TATTAGAGGA	AGACAGACAGAC	4	32
D13S317	Autosomal	AGGAGAGTTCAT	TTGACCAACA	TATCTATC	4	144
D16S539	Autosomal	TGCTCGTTGTGC	TGAAAGACAA	GATAGATA	4	137
D18S51	Autosomal	CAGAAGGTTAAG	TAAGACATCT	AGAAAGAAAGAA	4	117
D19S433	Autosomal	TTGGTTACATGA	GGTACAATTA	CCTTCCTTCCTT	4	126
D1S1656	Autosomal	AGGATTCTTCAG	GCAACACAGG	TCTATCTATCTA	4	77
D21S11	Autosomal	CAATTCCCCAAG	TCTGGAGAAC	TCTGTCTGTCTG	4	62
D22S1045	Autosomal	GACCCTGTCCTA	ATTGCCAATC	ATTATTATT	3	63
D2S1338	Autosomal	ACATCCCTAGTA	CTGGATTATG	GGAAGGAAGGAA	4	112
D2S441	Autosomal	TTCCTGAGCCCT	ATAACACCAC	TCTATCTATCTA	4	87
D3S1358	Autosomal	ATATTCACTTGC	TGTCACCCAG	ATCTATCTATCT	4	115
D5S818	Autosomal	AGCCACAGTTTA	ATTATCTGGG	ATCTATCTATCT	4	122
D7S820	Autosomal	TTATCCTCATTG	TCCATAGTCA	TATCTATC	4	146
D8S1179	Autosomal	TGTATTTTTGTA	TATACTCATG	TCTATCTATCTA	4	127
FGA	Autosomal	AGGTATTATCAC	CTAGCTTGTA	AAAGAAAG	4	81
PENTAD	Autosomal	ACACCATCTCAA	GAGAATCATAAA	AAAGA	5	34
PENTAE	Autosomal	TTGCATGCATGA	GAGACTGAGTCT	TCTTTTCTTT	5	108
TH01	Autosomal	GAACACAGACTC	GGGTGCTGAC	ATGAATGA	4	163
TPOX	Autosomal	CCATGTTCCCAC	CGCTGACAAG	AATGAATG	4	135
vWA	Autosomal	TAAATACATAGG	GGTGGGAACT	TAGATAGACAGA	4	117
DYS19	Y	CAAGGAGTCCAT	AACAGAAACT	TCTATCTATCTA	4	89
DYS385	Y	ATAGTCCTCCTT	TCTGAATTTCA	TTTCTTTCTTTC	4	129
DYS389I	Y	TAGAGGGAGGGA	AGATAATACA	TAGATAGATAGA	4	5
DYS389II	Y	TAGAGGGAGGGA	AGATAATACA	TAGATAGATAGA	4	57
DYS390	Y	AAAGATAGATAGATGA	GTAATAAACC	CAGACAGACAGA	4	66
DYS391	Y	AATCATACACCC	TCCCAGGAGA	TCTATCTATCTA	4	78
DYS392	Y	CCCATTCCTTAG	GTTTTTAAAA	ATAATAATA	3	80
DYS393	Y	TTGTGTCAATAC	TCATTTTTTG	AGATAGATAGAT	4	27
DYS437	Y	GTGAGTGCATGC	TCATCTGTGAATGACAG	TCTATCTATCTA	4	84
DYS438	Y	TTGAACGGTAAA	GCTGAAATGCAA	TTTTCTTTTCTTTTC	5	40
DYS439	Y	GAGACAGATAGATG	TGGGTAAAAG	GATAGATAGATA	4	32
DYS448	Y	AGACATGGATAA	GGTAAAGATAGAG	AGAGATAGAGATAGAGAT	6	47
DYS456	Y	TGTGATAATGTA	TTTTGGGCTG	AGATAGATAGAT	4	51
DYS458	Y	TGAAACTCCAAT	GGCTGGATCA	GAAAGAAAGAAA	4	74
DYS481	Y	AAGAGGAGTCTG	TCTTGCAACC	CTTCTTCTTCTT	3	43
DYS533	Y	CATCTTTGTCAT	GTGATCTCTACTTAC	ATCTATCTATCT	4	167
DYS549	Y	GAATGACATTAA	ATAAACAAAA	GATAGATAGATA	4	125
DYS570	Y	AGGTTATGAAAC	AGATAGGGAA	TTTCTTTCTTTC	4	59
DYS576	Y	CTCATCTCTGAA	CCATACTGAT	AAAGAAAGAAAG	4	66
DYS635	Y	TGTGGAACCAGC	ATTCTATGCA	TAGATAGATAGA	4	42
DYS643	Y	TCATTGAACCTC	GGAATGGGTGGTGT	CTTTTCTTTTCTTTT	5	98
Y-GATA-H4	Y	ATCTAATCTATC	TGTTTAGCTC	TCTATCTATCTA	4	154
